.text-deco-none {
  text-decoration: none;
}

.font-bold {
  font-weight: bold;
}

.mt-5 {
  margin-top: 5px;
}

.bg-custom-white {
  background-color: #ededed;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
